pre {
  font-family: "Courier New", monospace;
}

top-link {
  display: block;
  font-family: "Courier New", monospace;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
  padding-left: 6%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container > content {
  font-family: "Courier New", monospace;
  width: 275px;
  height: 325px;
  text-align: center;
}

ascii {
  text-align: left;
  font-weight: bold;
}

bottom-link {
  display: block;
  font-family: "Courier New", monospace;
  text-align: center;
  padding-right: 14%;
}