<!-- Navigation bar -->
<a ng-href='#!'>home</a>
<a ng-href='#!Bio'>bio</a>
<a ng-href='#!Music'>music</a>
<a ng-href='#!Links'>links</a>

<img src="custom header.png">
=======
<h2>Yo</h2>



<!-- Tried many other web page options but they wouldn't work. -->
<!-- Decided we could write the Lyrics in Word and then convert them into txt files.-->
<iframe src="test.txt" width="45%" height="100%"></iframe>

<!-- Creates PDF with its own scroll bar -->
<!-- Change PDF to 100 in width to see -->
<iframe src="test.pdf" width="45%" height="100%"></iframe>

<!-- doesn't display, it only downloads the page -->
<!-- <iframe src="test.mht" width="45%" height="100%"></iframe> -->

<!-- Couldn't find code that will allow you to upload all photos yet -->
<!-- Link below is the best I could find on W3 Schools -->
<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive -->