<div class="container">

<top-link ng-href='#!vwBio.html'>bio</top-link>
  
  <!-- Page is split into three columns here, one for the photos link,
  one for the ascii art, and one for the lyrics link. -->
  <!-- Flex container ensures that the columns and art don't get all
  screwed up by different screen sizes and browser resizing. -->
  <div class="flex-container">
  
    <content>
      <!-- Contents between pre tags are displayed exactly as is,
      aka: leave the empty lines -->
      <pre>
      
      
      
     
     
photos
      </pre>
    </content>
    
    <content>
      <ascii><pre>
 S        

 E         M
 

 V
           E

             T   

 E                      /SUN
   

 N           E
  
             R
      </pre></ascii>
    </content>
    
    <content>
      <pre>
      
      
      
      
      
      
      
      
      
      
      
lyrics
      </pre>
    </content>

  </div>
  
  <bottom-link>
    <pre>
contact 
  us
    </pre>
  </bottom-link>
  
</div>  