<div class="container">

  <a class="home-link" ng-href='#!Bio' style='top: 10%; left: 53%;'>bio</a>
  
  <a class="home-link" ng-href='#!Photos' style='top: 28%; left: 16%;'>     
    photos
  </a>
    
  <!-- Contents between pre tags are displayed exactly as is,
    aka: leave the empty lines -->
  <ascii><pre>
 S        

 E         M
 

 V
           E

             T   

 E                      /SUN
   

 N           E
  
             R
  </pre></ascii>
    
  <a class="home-link" ng-href='#!Music' style='top: 45%; left: 77%;'>     
    music
  </a>
  
  <pre>
  <a class="home-link" ng-href='#!Links' style='top: 77%; left: 30%;'>
links</a></pre>
  
<div class="container">
  <a ng-href='#!Bio' style='top: 10%; left: 53%;'>bio</a>  
  <a ng-href='#!Photos' style='top: 28%; left: 16%;'>     
    photos
  </a>
    
  <!-- Contents between pre tags are displayed exactly as is,
    aka: leave the empty lines -->
  <ascii><pre>
 S        

 E         M
 

 V
           E

             T   

 E                      /SUN
   

 N           E
  
             R
  </pre></ascii>
    
  <a ng-href='#!Lyrics' style='top: 45%; left: 77%;'>     
    lyrics
  </a>
  
  <pre>
  <a ng-href='#!Contact' style='top: 77%; left: 30%;'>
contact 
  us</a></pre>
  </div>  