<!-- Navigation bar -->
<a ng-href='#!'>home</a>
<a ng-href='#!Bio'>bio</a>
<a ng-href='#!Music'>music</a>
<a ng-href='#!Photos'>photos</a>
<a ng-href='#!Links'>links</a>

<courier style='top: 10%; left: 21%;'><b>_LINK\s</b></courier>

<a class="home-link" href="https://www.instagram.com/sevenmetersun/" style="top: 30%; left: 72%;" target="_blank"><pre>
 insta
@sevenmetersun</pre></a>

<a class="home-link" href="https://www.facebook.com/7MeterSun/" style="top: 50%; left: 14%;" target="_blank">facebook</a>

<a class="home-link" href="https://sevenmetersun.bandcamp.com/" style="top: 70%; left: 57%;" target="_blank">BANDCAMP!</a>

<a class="home-link" href="https://www.youtube.com/channel/UCOCRfJ0YjN-US8E8UUJfFgQ" style="top: 83%; left: 28%;" target="_blank">youtube</a>